<div class="d-flex flex-row justify-content-between align-items-start">
  <h1>Players</h1>
</div>
<!--
<ul class="list-group">
  <% rank = 0 %>
  <% @players.each do |player| %>
    <li class="list-group-item">
      <span><%= rank = rank +1 %>. <%= link_to player.display_name, player %>: <%= player.points > 0 ? ApplicationHelper.strip_trailing_zero(player.points.round(2)) : 0 %></span>
    </li>
  <% end %>
</ul>
-->

<table class="table">
  <thead>
    <tr>
      <th scope="col" class="table-index">Rank</th>
      <th scope="col">Player</th>
      <th scope="col">Points</th>
    </tr>
  </thead>
  <tbody>
    <% rank = 0 %>
    <% @players.each do |player| %>
      <tr>
        <th class="table-index"><%= rank = rank + 1 %>.</th>
        <td><%= link_to player.display_name, player %></td>
        <td><%= player.points > 0 ? ApplicationHelper.strip_trailing_zero(player.points.round(2)) : 0 %></td>
      </tr>
    <% end %>
  </tbody>
</table>