<div class="d-flex flex-row justify-content-between align-items-start">
  <h1><%= @player.name %></h1>
  <% if current_user&.player && current_user&.player == @player %>
    <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-danger'  %>
  <% end %>
</div>
<hr class="hr">

<% unless @tourny_started %>
  <h3 class="mb-3"> Credits Remaining: <%= @player.credits %></h3>
<% else %>
  <h3><%= ApplicationHelper.strip_trailing_zero @player.get_point_total.round(2) %> Points</h3>
<% end %>

<hr class="hr">
<div class="mb-3">
  <h4>Shares<%= ' (Max 6)' unless @tourny_started %></h4>
  <% unless @debug_mode || current_user&.player == @player || @tourny_started %>
    <div>Hidden until June 14th</div>
  <% else %>
    <table class="table">
      <% if @shares.count > 0 %>
        <thead>
          <tr>
            <th scope="col">Team</th>
            <th scope="col">Shares</th>
            <% if @debug_mode || @tourny_started %>
              <th scope="col">Equity</th>
              <th scope="col">Points Earned</th>
            <% end %>
            <% if @debug_mode || !@tourny_started %>
              <th scope="col">Delete</th>
            <% end %>

          </tr>
        </thead>
        <tbody>
          <% @shares.each do |share| %>
          <tr>
            <td><%= link_to share.team.name, share.team %></td>
            <td><%= share.amount %></td>
            <% if @debug_mode || @tourny_started %>
              <td><%= ApplicationHelper.strip_trailing_zero share.player_stake_percent.round(2) %>%</td>
              <td>
                  + <%= ApplicationHelper.strip_trailing_zero  share.player_points.round(2) %>
              </td>
            <% end %>
            <% if @debug_mode || !@tourny_started %>
              <td>
                <%= form_with model: share, method: :delete, url: share_path(share), data: { confirm: 'Are you sure?' } do |form| %>
                  <%= form.submit 'X', class: 'btn btn-danger' %>
                <% end %>
              </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      <% else %>
        <div >No Shares Invested</div>
      <% end %>
    </table>
  <% end %>
  
</div>

<% if @debug_mode || (@player == current_user&.player && !@tourny_started)%>
  <div class="container text-bg-light p-3">
    <h5>Invest</h5>
    <%= form_with url: "/invest", method: :post do |form| %>
      <%= form.hidden_field :player, value: @player.id %><br>
      <div class="mb-2">
        <div class="d-flex flex-row">
          <div class="col-8 ps-0">
            <%= form.label :team, {}, class: "form-label" %><br>
            <%= form.select :team, @unbought_teams.map{|t| [t.name, t.id]}, {}, class: "form-select" %><br>
          </div>
          <div class="col-4 ps-4">
            <%= form.label :amount, {}, class: "form-label" %><br>
            <%= form.select :amount, options_for_select(@amounts), {}, class: "form-select" %>
          </div>
        </div>
      </div>

      <div>
        <%= form.submit 'Invest!', class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
<% end %>
